body{
	background-color: #333;
}
header{
	background-color: #333;
	border:2px solid #fff;
	border-radius: 10px;
}
nav{
	background-color: transparent;
	height: 100px;
}
.photo{
	width:100px;
	height: 100px;
	border: 1px solid gray;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-right: 4px;
	background-image: url(../images/pic4.jpg);
}
.logo{
	display: inline-block;
	height: 100px;
	line-height: 100px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	float: left;
}
.navbar{
	margin: 0;
	list-style: none;
	float: right;
	height: 40px;
	margin-top: 30px;
	margin-right: 10px;
	position: relative;
	z-index: 1;
}
.navbar li{
	height: 40px;
	width: 84px;
	line-height: 40px;
	float: left;
	color: #fff;
}
.navbar li a{
	width: 84px;
	height: 40px;
	line-height: 40x;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
a:actived,a{
	color: #fff;
}
.navbar li:nth-child(4){
	position: absolute;
	width: 84px;
	height: 40px;
	top: 0;
	left: 80px;
	background-color: #e67e22;
	border-radius: 5px;
	z-index: -3;
	transition: all 0.4s
}


.main{
	width: 100%;
	height: 557px;
	background-color: #333;
}
.sidebar{
	float: left;
	width: 20%;
	height: 100%;
	border-radius: 10px;
	background-color: #333;
	padding: 100px 20px;
	border:2px solid #fff;
}
.tree {  
	color:#46CFB0;
	/*width:800px;*/
	font-size: 24px;
	/*margin:0 50px;*/
}
.tree li,
.tree li > a{
    padding: 4px;
    border-radius: 4px;
    line-height: 50px;
}

.tree li a {
    color:#46CFB0;
    text-decoration: none;
    line-height: 50px;
    border-radius: 4px;
}

.tree li a:hover {
    background-color: #34BC9D;
    color: #fff;
}

.active {
    background-color: #34495E;
    color: white;
}

.active a {
    color: #fff;
}

.tree li a.active:hover {
    background-color: #34BC9D;
}
.content{
	float: left;
	width:79.99%;
	height: 100%;
	background-color: #333;
	border:2px solid #fff;
	border-radius: 10px;
	position: relative;
	box-sizing: border-box;
}


/*block区域*/
.block{
	position: fixed;
	top: 108px;
	left: 20.3%;
	width: 99.3%;
	height: 86.5%;
	box-sizing: border-box;
}
article:nth-child(1){
	background-color: #c22326;
}
article:nth-child(2){
	background-color: #f37338;
}
article:nth-child(3){
	background-color: #fdb632;
}
article:nth-child(4){
	background-color: #027878;
}
article:nth-child(5){
	background-color: #801638;
}
section{
	width: 100%;
	height: 98%;
}
article{
	width: 16%;
	height: 98%;
	float: left;
	color: #fff;
	position: relative;
	transition: all .3s ease 0s;
	cursor: pointer;
	box-sizing: border-box;
}
article div{
	opacity: 0;
	transition: all 0.2s ease 0;
	padding: 50px 20px;
	text-align: center;
	box-sizing: border-box;
}
article:hover div{
	opacity: 1;
}
section:hover article{
	width: 10%;
}
section article:hover{
	width: 40%;
}
h3{
	text-transform: uppercase;
}
article > h2 {
  position: absolute;
  bottom: 4%;
  width: 100%;
  text-align: center;
  font-size: 3%;
}
.caption {
  position: fixed;
  bottom: 8%;
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 12px;
  z-index: 2;
}
.caption h1,
.caption h2 {
  margin: 0;
  padding: 0;
}